<div class="app horizontal-wrapper {{headerSkinColor}}" [dir]="layout" [class.app-dark]="dark" [class.customizer-in]="customizerIn" [class.chat-sidebar]="chatSidebar" [class.chat-window--open]="chatWindowOpen">

    <header>

      <div class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
          <a class="navbar-brand">Ecommerce</a>
          <div class="d-flex align-items-center">
            <div class="sidebar-logo-wrap">
              
            </div>

            
          </div>
          <div class="align-items-self d-flex horizontal-top-menu">
            <div class="d-flex align-self-center secondary-menu">
              <ul class="nav secondary-menu-list d-flex justify-content-end align-items-center" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <li class="d-none d-md-block dropdown fav-links">
                  <a href="javascript:void(0)" class="rotate-90" id="navbarD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">apps</i></a>
                  <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarD">
                    <div class="dropdown-header bg-light d-flex justify-content-between"><span class="align-self-center">Quick Links</span>
                    </div>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/dashboard/dashboard-v2">
                      <div class="icon-area ">
                        <i class="material-icons">dashboard</i>
                      </div>
                      <small>Dashboard</small>
                    </a>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/chat">
                      <div class="icon-area ">
                        <i class="material-icons">chat_bubble_outline</i>
                      </div>
                      <small>Chat</small>
                    </a>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/inbox">
                      <div class="icon-area ">
                        <i class="material-icons">email</i>
                      </div>
                      <small>Email</small>
                    </a>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/blog/blog-grid">
                      <div class="icon-area ">
                        <i class="material-icons">grid_on</i>
                      </div>
                      <small>Blog Grid</small>
                    </a>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/gallery/galleryV1">
                      <div class="icon-area ">
                        <i class="material-icons">collections</i>
                      </div>
                      <small>Gallery</small>
                    </a>
                    <a class="dropdown-item pt-3" routerLink="/horizontal/ecommerce/ecommerce-product">
                      <div class="icon-area ">
                        <i class="material-icons">shopping_cart</i>
                      </div>
                      <small>Shop</small>
                    </a>
                  </div>
                </li>
                <li class="d-none d-md-block dropdown">
                  <a href="javascript:void(0)" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="notifi-bell material-icons ">notifications</i> <span class="fa fa-circle fa-notify text-primary dot-note"></span></a>
                  <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMenu">
                    <div class="dropdown-header bg-primary d-flex justify-content-between"><span class="align-self-center">12
                            Pending notifications</span><a href="javascript:void(0)" class="align-self-center">View
                            All</a>
                    </div>
                    <a class="dropdown-item  d-flex pt-3" href="javascript:void(0)">
                      <div class="icon-area  align-self-start">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="icon-msg mx-2"> <span class="align-self-start d-block ">You have 16 New messages</span>
                        <small>12 min ago</small>
                      </div>
                    </a>

                  </div>
                </li>
                <li class="d-none d-md-block dropdown">
                  <a href="javascript:void(0)" class="open-box" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons msg-close">mail_outline</i><i
                        class="fa fa-envelope-open-o"></i><span class="fa fa-circle fa-notify dot-note text-danger"></span></a>
                  <div class="dropdown-menu rounded-0 dropdown-menu-right dropdown-menu-lg p-0" aria-labelledby="navbarDropdownMen">
                    <div class="dropdown-header bg-warning d-flex justify-content-between"><span class="align-self-center">15
                            total messages</span><a href="javascript:void(0)" class="align-self-center">View All</a>
                    </div>
                    <a class="dropdown-item  d-flex" href="javascript:void(0)">
                      <div class="icon-area align-self-start">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      </div>
                      <div class="icon-msg mx-2"> <span class="align-self-start d-block "></span>
                        <small>12 min ago</small>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="dropdown">
                  <a class="relative rounded-bg" href="javascript:void(0)" id="navbarDropdownMenuLin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="rounded-circle" src="assets/img/user-3.jpg" alt="User-image" width="43" height="43">
                      <div class="online-caret bg-primary circle"><i class="fa fa-caret-down"></i></div>
                  </a>
                  <div class="dropdown-menu rounded-0 dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLin">
                    <a class="dropdown-item  d-flex pb-2" routerLink="/horizontal/user-pages/user-list">
                      <div class="icon-area align-self-start">
                        <i class="fa fa-cog"></i>
                      </div>
                      <div class="icon-msg mx-2"> <span class="align-self-start d-block "></span>
                      </div>
                    </a>
                    <a class="dropdown-item  d-flex pb-2" >
                      <div class="icon-area align-self-start">
                        <i class="fa fa-power-off"></i>
                      </div>
                      <div class="icon-msg mx-2"> <span class="align-self-start d-block ">Déconnexion</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="d-none d-md-block dropdown">
                  <a (click)="chatSidebarFunction()" class="zoom-out"><i class="material-icons">Panier</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>








      <div class="chankya-base-container">
      <div class="container">
        
       <router-outlet>

       </router-outlet>

      </div>
    </div>

    <!-- Chankya customize closed -->
    <div class="chat-sidebar-pan">
      <div class="settings-panel">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#chat" role="tab">Panier</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="chat" role="tabpanel">
            <div class="chat-tabs">
              <a href="javascript:void(0)" (click)="chatWindowFunction()">
                <div class="d-flex justify-content-start">
                  <div class=""> <img class="img-responsive rounded-circle" alt="Chat session" src="assets/img/user-1.jpg" width="50" height="50"> </div>
                  <div class="px-2">
                    <span class="d-block">Connor Soto</span> <small class="d-block">See you later</small>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--setting panel closed -->
    </div>

    </header>

  </div>
