<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let post of posts">
      <div class="product-grid">
        <div class="product-image">
          <a href="#">
            <img class="pic-1" src="{{post.image}}">
            <img class="pic-2" src="{{post.image}}">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <span class="product-new-label">Sale</span>
          <span class="product-discount-label">20%</span>
        </div>
        <ul class="rating">
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star"></li>
          <li class="fa fa-star disable"></li>
        </ul>
        <div class="product-content">
          <h3 class="title"><a href="#">{{post.title}}</a></h3>
          <div class="price">
            {{post.price}}<i class="fa fa-euro"></i>  
            <del class="text-muted ml-2">30$</del>
          </div>
          <a class="add-to-cart" href="">+ Add To Cart</a>
        </div>
      </div><br>
    </div>
  </div>
</div>
<hr>